@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <h4>Успешно порачавте материјал</h4>
    <p>Ви благодриме за вашата нарачка. Ќе бидете контактиранa/контактиран.</p>
</div>
